.toast-container {
  position: absolute;
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  padding-top: 0.4em;
  padding-left: 0.4em;
  height: 0;
  font-family: tahoma;
  font-size: 22px;
  line-height: 1.5;
  box-sizing: border-box;
}

.toast-item {
  display: inline-flex;
  margin-bottom: 0.4em;
  padding: 0.4em;
  border-radius: 0.2em;
  border-color: #ffeeee;
  background-color: #da2828;
  color: #ffffff;
}
